@charset "utf-8"; 
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight:300;
    font-style: normal;
}
*{margin:0; padding:0;}
body{font-size:16px; line-height: 1.4; color:#333; font-family: 'GmarketSansMedium'; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ background-color:#fff;}
body::-webkit-scrollbar {display: none; /* Chrome, Safari, Opera*/}

ul,li{list-style: none;}
a{text-decoration:none; color:#333;}